In [84]:
import pandas as pd

In [85]:
df = pd.read_csv('titanic.csv')

In [86]:
df = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket',  'Cabin', 'Embarked'], axis='columns')
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [87]:
inputs = df.drop(['Survived'], axis='columns')
prdict = df['Survived']
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [88]:
# inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})
from sklearn.preprocessing import LabelEncoder

In [89]:
le_sex = LabelEncoder()

In [90]:
inputs['sex_n'] = le_sex.fit_transform(inputs['Sex'])

In [91]:
inputs = inputs.drop(['Sex'], axis='columns')

In [92]:
from sklearn.model_selection import train_test_split

In [93]:
x_train, x_test, y_train , y_test  = train_test_split(inputs,prdict, test_size=0.3)

In [94]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [99]:
x_train['Fare'] = x_train['Fare'].astype(int)
x_test['Fare'] = x_test['Fare'].astype(int)

<ipython-input-99-e8f9ec99137d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train['Fare'] = x_train['Fare'].astype(int)
<ipython-input-99-e8f9ec99137d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['Fare'] = x_test['Fare'].astype(int)

In [102]:
mediaage=x_test['Age'].median()
mediaage

28.0

In [122]:
x_test['Age'].fillna(value=mediaage, inplace=True)xx_train'AAge].fillna(mvalue=mediaage, inplace=True
x_x_train

C:\Python38\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

     Pclass   Age  Fare  sex_n
345       2  24.0    13      0
404       3  20.0     8      0
573       3   0.0     7      0
605       3  36.0    15      1
122       2  32.5    30      1
..      ...   ...   ...    ...
659       1  58.0   113      1
529       2  23.0    11      1
440       2  45.0    26      0
257       1  30.0    86      0
578       3   0.0    14      0

[623 rows x 4 columns]

In [120]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [123]:
model.score(x_test,y_test)

0.7985074626865671